# Topic Modeling

## Introduction

Another popular text analysis technique is called topic modeling. The ultimate goal of topic modeling is to find various topics that are present in your corpus. Each document in the corpus will be made up of at least one topic, if not multiple topics.

In this notebook, we will be covering the steps on how to do **Latent Dirichlet Allocation (LDA)**, which is one of many topic modeling techniques. It was specifically designed for text data.

To use a topic modeling technique, you need to provide (1) a document-term matrix and (2) the number of topics you would like the algorithm to pick up.

Once the topic modeling technique is applied, your job as a human is to interpret the results and see if the mix of words in each topic make sense. If they don't make sense, you can try changing up the number of topics, the terms in the document-term matrix, model parameters, or even try a different model.

## Topic Modeling - Attempt #1 (All Text)

In [1]:
# Let's read in our document-term matrix
import pandas as pd
import pickle

data = pd.read_pickle('dtm_stop.pkl')
data

,aaah,aarp,abc,abdomen,abducted,abhorring,ability,abki,able,aboard,...,zhoosh,zip,zipper,zoned,zones,zoom,zoomed,álvarez,ándale,ñañaras
bill,0,1,0,0,0,0,1,0,1,0,...,0,0,0,1,0,2,0,0,0,0
brian,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
dave,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
fortune,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,1,1,0,0,0
gabriel,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,4,0,3,1,1
jim,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
kathleen,0,0,0,0,1,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
oswalt,0,0,0,0,0,0,0,0,2,1,...,1,0,0,0,0,2,0,0,0,0
vir,0,0,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
# Import the necessary modules for LDA with gensim
# Terminal / Anaconda Navigator: conda install -c conda-forge gensim
from gensim import matutils, models
import scipy.sparse

# import logging
# logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

In [3]:
# One of the required inputs is a term-document matrix
tdm = data.transpose()
tdm.head()

          bill  brian  dave  fortune  gabriel  jim  kathleen  oswalt  vir
aaah         0      0     1        0        1    0         0       0    0
aarp         1      0     0        0        0    0         0       0    0
abc          0      0     0        0        1    0         0       0    0
abdomen      0      0     0        0        0    1         0       0    0
abducted     0      0     0        0        0    0         1       0    1

In [4]:
# We're going to put the term-document matrix into a new gensim format, from df --> sparse matrix --> gensim corpus
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [5]:
# Gensim also requires dictionary of the all terms and their respective location in the term-document matrix
cv = pickle.load(open("cv_stop.pkl", "rb"))
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term), we need to specify two other parameters - the number of topics and the number of passes. Let's start the number of topics at 2, see if the results make sense, and increase the number from there.

In [6]:
# Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term),
# we need to specify two other parameters as well - the number of topics and the number of passes
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=2, passes=10)
lda.print_topics()

[(0,
  '0.016*"audience" + 0.013*"laughs" + 0.005*"theyre" + 0.005*"said" + 0.004*"horse" + 0.004*"look" + 0.004*"theres" + 0.003*"want" + 0.003*"goes" + 0.003*"love"'),
 (1,
  '0.008*"said" + 0.007*"shit" + 0.005*"going" + 0.005*"time" + 0.005*"fuckin" + 0.005*"fuck" + 0.005*"didnt" + 0.004*"okay" + 0.004*"hes" + 0.004*"say"')]

In [7]:
# LDA for num_topics = 3
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=10)
lda.print_topics()

[(0,
  '0.007*"said" + 0.005*"going" + 0.004*"uh" + 0.004*"theres" + 0.004*"theyre" + 0.004*"really" + 0.004*"say" + 0.004*"goes" + 0.004*"thought" + 0.004*"day"'),
 (1,
  '0.012*"audience" + 0.010*"laughs" + 0.007*"said" + 0.005*"going" + 0.005*"look" + 0.005*"theyre" + 0.004*"okay" + 0.004*"hes" + 0.004*"want" + 0.004*"theres"'),
 (2,
  '0.011*"fuckin" + 0.010*"shit" + 0.007*"fuck" + 0.007*"said" + 0.007*"time" + 0.006*"man" + 0.006*"didnt" + 0.004*"fucking" + 0.004*"women" + 0.004*"guys"')]

In [8]:
# LDA for num_topics = 4
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=4, passes=10)
lda.print_topics()

[(0,
  '0.000*"said" + 0.000*"going" + 0.000*"time" + 0.000*"say" + 0.000*"okay" + 0.000*"audience" + 0.000*"tell" + 0.000*"thing" + 0.000*"theyre" + 0.000*"theres"'),
 (1,
  '0.022*"audience" + 0.018*"laughs" + 0.006*"horse" + 0.005*"theyre" + 0.005*"theres" + 0.005*"horses" + 0.004*"didnt" + 0.004*"look" + 0.004*"wanna" + 0.004*"kids"'),
 (2,
  '0.009*"fuckin" + 0.006*"said" + 0.006*"going" + 0.005*"shit" + 0.005*"theyre" + 0.005*"fuck" + 0.004*"little" + 0.004*"theres" + 0.004*"say" + 0.004*"time"'),
 (3,
  '0.012*"said" + 0.008*"shit" + 0.006*"time" + 0.005*"going" + 0.005*"didnt" + 0.005*"guys" + 0.005*"hes" + 0.005*"want" + 0.004*"tell" + 0.004*"okay"')]

These topics aren't looking too great. We've tried modifying our parameters. Let's try modifying our terms list as well.

## Topic Modeling - Attempt #2 (Nouns Only)

One popular trick is to look only at terms that are from one part of speech (only nouns, only adjectives, etc.). Check out the UPenn tag set: https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html.

In [9]:
# Let's create a function to pull out nouns from a string of text
from nltk import word_tokenize, pos_tag

def nouns(text):
    '''Given a string of text, tokenize the text and pull out only the nouns.'''
    is_noun = lambda pos: pos[:2] == 'NN'
    tokenized = word_tokenize(text)
    all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)] 
    return ' '.join(all_nouns)

In [10]:
# Read in the cleaned data, before the CountVectorizer step
data_clean = pd.read_pickle('data_clean.pkl')
data_clean

                                                 transcript
bill        ladies and gentlemen bill burr  all right th...
brian     ♪    lets give a big warm welcome to mr brian ...
dave      this is dave he tells dirty jokes for a living...
fortune      please welcome fortune feimster ♪ im a powe...
gabriel    can you please state your name martin moreno ...
jim       audience cheering applauding thank you thank y...
kathleen    whoo   ♪ kathleen ♪ ♪ madigan ♪ ♪ kathleen ♪...
oswalt      hello denver   oh my god hello thank you tha...
vir       i lost  of my mind its very freeing you should...

In [11]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns = pd.DataFrame(data_clean.transcript.apply(nouns))
data_nouns

                                                 transcript
bill      ladies gentlemen bill thank hows sit see year ...
brian     lets warm welcome regan thank thanks appreciat...
dave      jokes living stare work profound train thought...
fortune   fortune feimster ♪ woman ♪ ♪ i ♪ ♪ way i ♪ ♪ c...
gabriel   state name martin moreno martinnnnn gabriel ig...
jim       audience thank god thank audience fault fault ...
kathleen  whoo ♪ ♪ ♪ madigan ♪ ♪ ♪ ♪ madigan ♪ ♪ stage s...
oswalt    hello denver god hey i foot yeah year i foot p...
vir       i mind look way evening francisco yeah name da...

In [12]:
# Create a new document-term matrix using only nouns
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer

# Re-add the additional stop words since we are recreating the document-term matrix
add_stop_words = ['like', 'im', 'know', 'just', 'dont', 'thats', 'right', 'people',
                  'youre', 'got', 'gonna', 'time', 'think', 'yeah', 'said']
stop_words = list(text.ENGLISH_STOP_WORDS.union(add_stop_words))

# Recreate a document-term matrix with only nouns
cvn = CountVectorizer(stop_words=stop_words)
data_cvn = cvn.fit_transform(data_nouns.transcript)
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names_out())
data_dtmn.index = data_nouns.index
data_dtmn

,aaah,abc,abdomen,ability,aboriginals,abortion,abortions,abraham,ac,academy,...,youth,youve,yuck,zealand,zhoosh,zip,zipper,zones,zoom,álvarez
bill,0,0,0,1,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
brian,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
dave,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
fortune,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
gabriel,1,1,0,0,0,0,0,0,1,6,...,0,2,0,0,0,0,0,1,3,3
jim,0,0,1,0,1,0,0,0,0,0,...,0,2,0,4,0,0,0,0,0,0
kathleen,0,0,0,0,0,0,0,1,0,0,...,0,4,0,0,0,1,0,0,0,0
oswalt,0,0,0,0,0,0,0,0,1,0,...,1,4,0,0,1,0,0,0,2,0
vir,0,0,0,1,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0

In [13]:
# Create the gensim corpus
corpusn = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn.transpose()))

# Create the vocabulary dictionary
id2wordn = dict((v, k) for k, v in cvn.vocabulary_.items())

In [14]:
# Let's start with 2 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=2, id2word=id2wordn, passes=10)
for idx, topic in ldan.print_topics(-1):
    print("Topic: {} \nWords: {}".format(idx, topic ))
    print("\n")

Topic: 0
Words: 0.011*"shit" + 0.009*"gon" + 0.009*"man" + 0.007*"cause" + 0.007*"fuck" + 0.007*"thing" + 0.006*"day" + 0.006*"years" + 0.005*"car" + 0.005*"way"


Topic: 1
Words: 0.019*"audience" + 0.008*"hes" + 0.007*"way" + 0.006*"gon" + 0.006*"cause" + 0.006*"guy" + 0.006*"thing" + 0.005*"horse" + 0.005*"day" + 0.004*"house"

In [15]:
# Let's try topics = 3
ldan = models.LdaModel(corpus=corpusn, num_topics=3, id2word=id2wordn, passes=10)
ldan.print_topics()
for idx, topic in ldan.print_topics(-1):
    print("Topic: {} \nWords: {}".format(idx, topic ))
    print("\n")

Topic: 0
Words: 0.040*"audience" + 0.011*"horse" + 0.008*"horses" + 0.007*"laughs" + 0.007*"kids" + 0.006*"guy" + 0.006*"way" + 0.005*"dog" + 0.005*"gon" + 0.005*"cause"


Topic: 1
Words: 0.013*"shit" + 0.010*"gon" + 0.010*"fuck" + 0.008*"thing" + 0.008*"man" + 0.006*"day" + 0.006*"god" + 0.006*"women" + 0.006*"shes" + 0.006*"way"


Topic: 2
Words: 0.009*"cause" + 0.008*"gon" + 0.008*"hes" + 0.007*"car" + 0.007*"man" + 0.007*"way" + 0.006*"thing" + 0.006*"shit" + 0.006*"lot" + 0.006*"years"

In [16]:
# Let's try 4 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=4, id2word=id2wordn, passes=10)
for idx, topic in ldan.print_topics(-1):
    print("Topic: {} \nWords: {}".format(idx, topic ))
    print("\n")

Topic: 0
Words: 0.011*"cause" + 0.009*"gon" + 0.008*"car" + 0.008*"hes" + 0.007*"thing" + 0.007*"way" + 0.006*"day" + 0.006*"years" + 0.005*"home" + 0.005*"things"


Topic: 1
Words: 0.016*"shit" + 0.010*"fuck" + 0.010*"thing" + 0.009*"man" + 0.009*"gon" + 0.009*"women" + 0.006*"years" + 0.006*"guys" + 0.006*"day" + 0.006*"god"


Topic: 2
Words: 0.014*"shit" + 0.011*"man" + 0.009*"fuck" + 0.008*"lot" + 0.008*"didnt" + 0.006*"ahah" + 0.006*"room" + 0.006*"money" + 0.005*"hes" + 0.005*"guy"


Topic: 3
Words: 0.031*"audience" + 0.009*"horse" + 0.008*"guy" + 0.008*"gon" + 0.007*"way" + 0.006*"horses" + 0.006*"day" + 0.006*"hes" + 0.005*"house" + 0.005*"kids"

## Topic Modeling - Attempt #3 (Nouns and Adjectives)

In [17]:
# Let's create a function to pull out nouns from a string of text
def nouns_adj(text):
    '''Given a string of text, tokenize the text and pull out only the nouns and adjectives.'''
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(nouns_adj)

In [18]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns_adj = pd.DataFrame(data_clean.transcript.apply(nouns_adj))
data_nouns_adj

                                                 transcript
bill      ladies gentlemen bill right thank ya hows sit ...
brian     ♪ lets big warm welcome brian regan right than...
dave      dirty jokes living stare most hard work profou...
fortune   welcome fortune feimster ♪ powerful woman ♪ ♪ ...
gabriel   state name martin moreno martinnnnn gabriel ig...
jim       audience thank god thank audience good i fault...
kathleen  whoo ♪ kathleen ♪ ♪ madigan ♪ ♪ ♪ ♪ madigan ♪ ...
oswalt    hello denver god god much tonight hey i foot y...
vir       i mind look way good evening san francisco guy...

In [19]:
# Create a new document-term matrix using only nouns and adjectives, also remove common words with max_df
cvna = CountVectorizer(stop_words=stop_words, max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_adj.transcript)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names_out())
data_dtmna.index = data_nouns_adj.index
data_dtmna

,aaah,aarp,abc,abdomen,ability,abki,able,aboriginals,abortion,abortions,...,youve,yuck,zealand,zenlike,zhoosh,zip,zipper,zones,zoom,álvarez
bill,0,1,0,0,1,0,1,0,2,0,...,1,0,0,1,0,0,0,0,2,0
brian,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
dave,0,0,0,0,0,0,0,0,0,1,...,2,0,0,0,0,0,0,0,0,0
fortune,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,1,0
gabriel,1,0,1,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,1,3,3
jim,0,0,0,1,0,0,0,1,0,0,...,3,0,4,0,0,0,0,0,0,0
kathleen,0,0,0,0,0,0,1,0,0,0,...,4,0,0,0,0,1,0,0,0,0
oswalt,0,0,0,0,0,0,2,0,0,0,...,4,0,0,0,1,0,0,0,2,0
vir,0,0,0,0,1,1,0,0,0,0,...,2,1,0,0,0,0,0,0,0,0

In [20]:
# Create the gensim corpus
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# Create the vocabulary dictionary
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [21]:
# Let's start with 2 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=10)
for idx, topic in ldana.print_topics(-1):
    print("Topic: {} \nWords: {}".format(idx, topic ))
    print("\n")

Topic: 0
Words: 0.013*"audience" + 0.011*"shit" + 0.009*"fuckin" + 0.007*"fuck" + 0.004*"women" + 0.003*"black" + 0.003*"horse" + 0.003*"men" + 0.003*"jesus" + 0.003*"ta"


Topic: 1
Words: 0.004*"dogs" + 0.004*"fact" + 0.004*"jax" + 0.003*"mom" + 0.003*"dog" + 0.003*"martin" + 0.003*"mexican" + 0.003*"baby" + 0.003*"gabriel" + 0.003*"canelo"

In [22]:
# Let's try 3 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=3, id2word=id2wordna, passes=10)
for idx, topic in ldana.print_topics(-1):
    print("Topic: {} \nWords: {}".format(idx, topic ))
    print("\n")

Topic: 0
Words: 0.007*"shit" + 0.004*"fuck" + 0.004*"indian" + 0.003*"pubes" + 0.003*"beautiful" + 0.003*"beef" + 0.003*"mom" + 0.003*"somebody" + 0.003*"jesus" + 0.003*"men"


Topic: 1
Words: 0.019*"fuckin" + 0.016*"shit" + 0.011*"fuck" + 0.007*"women" + 0.006*"black" + 0.005*"ahah" + 0.004*"gay" + 0.004*"men" + 0.004*"ta" + 0.003*"woman"


Topic: 2
Words: 0.023*"audience" + 0.006*"horse" + 0.004*"dog" + 0.004*"dogs" + 0.004*"laughs" + 0.004*"horses" + 0.004*"fact" + 0.003*"jax" + 0.003*"mom" + 0.003*"bear"

In [23]:
# Let's try 4 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=10)
for idx, topic in ldana.print_topics(-1):
    print("Topic: {} \nWords: {}".format(idx, topic ))
    print("\n")

Topic: 0
Words: 0.019*"fuckin" + 0.015*"shit" + 0.008*"fuck" + 0.007*"women" + 0.004*"men" + 0.004*"woman" + 0.004*"beautiful" + 0.004*"jax" + 0.004*"indian" + 0.004*"somebody"


Topic: 1
Words: 0.008*"shit" + 0.005*"black" + 0.004*"fuck" + 0.004*"ahah" + 0.004*"mom" + 0.004*"son" + 0.003*"martin" + 0.003*"fact" + 0.003*"dogs" + 0.003*"long"


Topic: 2
Words: 0.050*"audience" + 0.013*"horse" + 0.008*"horses" + 0.008*"laughs" + 0.006*"cheese" + 0.006*"bear" + 0.006*"marathon" + 0.005*"dog" + 0.005*"appendix" + 0.004*"summer"


Topic: 3
Words: 0.006*"pubes" + 0.004*"hell" + 0.004*"fuck" + 0.004*"barn" + 0.004*"books" + 0.004*"weird" + 0.003*"sex" + 0.003*"store" + 0.003*"music" + 0.003*"shutdown"

## Identify Topics in Each Document

Out of the 9 topic models we looked at, the nouns and adjectives, 4 topic one made the most sense. So let's pull that down here and run it through some more iterations to get more fine-tuned topics.

In [24]:
# Our final LDA model (for now)
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=80)
for idx, topic in ldana.print_topics(-1):
    print("Topic: {} \nWords: {}".format(idx, topic ))
    print("\n")

Topic: 0
Words: 0.050*"audience" + 0.013*"horse" + 0.009*"laughs" + 0.009*"horses" + 0.006*"cheese" + 0.006*"bear" + 0.006*"marathon" + 0.005*"dog" + 0.005*"appendix" + 0.004*"summer"


Topic: 1
Words: 0.013*"shit" + 0.010*"fuckin" + 0.008*"fuck" + 0.005*"women" + 0.004*"black" + 0.004*"woman" + 0.003*"men" + 0.003*"fact" + 0.003*"beautiful" + 0.002*"gay"


Topic: 2
Words: 0.005*"mom" + 0.005*"missouri" + 0.005*"jesus" + 0.005*"madigan" + 0.004*"information" + 0.004*"state" + 0.004*"somebody" + 0.004*"ha" + 0.004*"kathleen" + 0.004*"seat"


Topic: 3
Words: 0.005*"map" + 0.004*"hell" + 0.003*"tower" + 0.003*"book" + 0.003*"today" + 0.003*"questions" + 0.003*"goin" + 0.003*"bag" + 0.003*"news" + 0.003*"brian"

In general a chunksize of 100k and update_every set to 1 is equivalent to a chunksize of 50k and update_every set to 2. The primary difference is that we will save some memory using the smaller chunksize, but we will be doing multiple loading/processing steps prior to moving onto the maximization step. Passes are not related to chunksize or update_every. Passes is the number of times we want to go through the entire corpus.

In [25]:
topics = ldana.show_topics(num_words = 10, formatted = False)
topics

[(0,
  [('audience', 0.04996114),
   ('horse', 0.013201391),
   ('laughs', 0.008533326),
   ('horses', 0.008533193),
   ('cheese', 0.0064914036),
   ('bear', 0.006491213),
   ('marathon', 0.005907495),
   ('dog', 0.005032507),
   ('appendix', 0.0050324616),
   ('summer', 0.004449031)]),
 (1,
  [('shit', 0.01268701),
   ('fuckin', 0.009966808),
   ('fuck', 0.0077566616),
   ('women', 0.004951479),
   ('black', 0.003846392),
   ('woman', 0.0036763763),
   ('men', 0.003336364),
   ('fact', 0.0029963362),
   ('beautiful', 0.0025713067),
   ('gay', 0.0024863072)]),
 (2,
  [('mom', 0.004910204),
   ('missouri', 0.004909975),
   ('jesus', 0.0045881514),
   ('madigan', 0.0045880014),
   ('information', 0.003944278),
   ('state', 0.0039442615),
   ('somebody', 0.0039442102),
   ('ha', 0.003944083),
   ('kathleen', 0.0039440533),
   ('seat', 0.0036222276)]),
 (3,
  [('map', 0.0045540878),
   ('hell', 0.0035695217),
   ('tower', 0.0030772723),
   ('book', 0.0030772043),
   ('today', 0.0030771918),
   ('questions', 0.0030771785),
   ('goin', 0.0030771666),
   ('bag', 0.0030771527),
   ('news', 0.0030771275),
   ('brian', 0.0030770113)])]

##### These four topics look pretty decent. Let's settle on these for now.
* Topic 0: Social Media
* Topic 1: Racism
* Topic 2: Profanity
* Topic 3: Creature,humour

In [26]:
# Let's take a look at which topics each transcript contains
corpus_transformed = ldana[corpusna]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

[(1, 'bill'),
 (3, 'brian'),
 (1, 'dave'),
 (1, 'fortune'),
 (1, 'gabriel'),
 (0, 'jim'),
 (2, 'kathleen'),
 (1, 'oswalt'),
 (1, 'vir')]

For a first pass of LDA, these kind of make sense to me, so we'll call it a day for now.
* Topic 0: Social Media [Brian,fortune]
* Topic 1: Racism [dave,gabriel]
* Topic 2: Profanity[Bill,Kathleen]
* Topic 3: Creature,humour[Jim, Oswalt,Vir]

### Assignment:
1. Try further modifying the parameters of the topic models above and see if you can get better topics.
2. Create a new topic model that includes terms from a different [part of speech](https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html) and see if you can get better topics.

In [27]:
# Our final LDA model (for now)
ldana1 = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=80,chunksize  = 1000,update_every=50)
for idx, topic in ldana1.print_topics(-1):
    print("Topic: {} \nWords: {}".format(idx, topic ))
    print("\n")

Topic: 0
Words: 0.030*"audience" + 0.008*"horse" + 0.007*"shit" + 0.006*"horses" + 0.005*"black" + 0.005*"laughs" + 0.005*"ahah" + 0.004*"fuck" + 0.004*"cheese" + 0.004*"bear"


Topic: 1
Words: 0.010*"jax" + 0.005*"picture" + 0.004*"woman" + 0.004*"ice" + 0.004*"message" + 0.004*"gary" + 0.004*"craig" + 0.003*"door" + 0.003*"mom" + 0.003*"large"


Topic: 2
Words: 0.009*"shit" + 0.006*"indian" + 0.005*"fuck" + 0.005*"pubes" + 0.005*"beautiful" + 0.004*"beef" + 0.004*"india" + 0.004*"men" + 0.003*"sex" + 0.003*"barn"


Topic: 3
Words: 0.015*"fuckin" + 0.009*"shit" + 0.006*"fuck" + 0.004*"women" + 0.004*"mom" + 0.003*"dad" + 0.003*"somebody" + 0.003*"baby" + 0.003*"fact" + 0.003*"dogs"

##### These four topics look pretty decent. Let's settle on these for now.
* Topic 0: Nature 
* Topic 1: Profanity
* Topic 2: Family
* Topic 3: Entertainment

In [28]:
topics = ldana1.show_topics(num_words = 10, formatted = False)
topics

[(0,
  [('audience', 0.029598042),
   ('horse', 0.008242832),
   ('shit', 0.0068760007),
   ('horses', 0.0056801923),
   ('black', 0.0053385906),
   ('laughs', 0.0049968944),
   ('ahah', 0.0046551735),
   ('fuck', 0.004313458),
   ('cheese', 0.0041426886),
   ('bear', 0.0039718687)]),
 (1,
  [('jax', 0.009972306),
   ('picture', 0.005233275),
   ('woman', 0.004048258),
   ('ice', 0.0040482245),
   ('message', 0.004048168),
   ('gary', 0.0040480904),
   ('craig', 0.0036531426),
   ('door', 0.0028633873),
   ('mom', 0.0028633543),
   ('large', 0.0028633084)]),
 (2,
  [('shit', 0.009434548),
   ('indian', 0.0055463975),
   ('fuck', 0.005317547),
   ('pubes', 0.0050887973),
   ('beautiful', 0.0046314895),
   ('beef', 0.0041740933),
   ('india', 0.00394522),
   ('men', 0.0037166039),
   ('sex', 0.003259156),
   ('barn', 0.0030303919)]),
 (3,
  [('fuckin', 0.015483405),
   ('shit', 0.009144757),
   ('fuck', 0.0063715777),
   ('women', 0.0042587123),
   ('mom', 0.0037304915),
   ('dad', 0.0033343215),
   ('somebody', 0.0032022658),
   ('baby', 0.003070235),
   ('fact', 0.0030701954),
   ('dogs', 0.0030701912)])]

In [29]:
# Our final LDA model (for now)
ldana1 = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=80,chunksize  = 1000,update_every=50,alpha = 'auto')
for idx, topic in ldana1.print_topics(-1):
    print("Topic: {} \nWords: {}".format(idx, topic ))
    print("\n")

Topic: 0
Words: 0.014*"shit" + 0.008*"fuck" + 0.006*"black" + 0.005*"men" + 0.005*"ahah" + 0.004*"women" + 0.004*"indian" + 0.004*"woman" + 0.004*"fucking" + 0.004*"pubes"


Topic: 1
Words: 0.005*"jax" + 0.005*"dogs" + 0.005*"fact" + 0.004*"martin" + 0.004*"mexican" + 0.004*"mom" + 0.004*"gabriel" + 0.004*"canelo" + 0.003*"frankie" + 0.003*"voice"


Topic: 2
Words: 0.005*"missouri" + 0.005*"mom" + 0.005*"madigan" + 0.005*"jesus" + 0.004*"kathleen" + 0.004*"information" + 0.004*"somebody" + 0.004*"state" + 0.004*"ha" + 0.004*"seat"


Topic: 3
Words: 0.027*"audience" + 0.019*"fuckin" + 0.009*"shit" + 0.008*"horse" + 0.007*"fuck" + 0.005*"horses" + 0.005*"ta" + 0.005*"dog" + 0.005*"laughs" + 0.005*"women"

## Q2

In [30]:
# Let's create a function to pull out nouns from a string of text
def verbs(text):
    '''Given a string of text, tokenize the text and pull out only Verbs.'''
    is_verb = lambda pos: pos[:2] == 'VB'
    tokenized = word_tokenize(text)
    is_verb = [word for (word, pos) in pos_tag(tokenized) if is_verb(pos)] 
    return ' '.join(is_verb)

In [31]:
# Read in the cleaned data, before the CountVectorizer step
data_clean = pd.read_pickle('data_clean.pkl')
data_clean

                                                 transcript
bill        ladies and gentlemen bill burr  all right th...
brian     ♪    lets give a big warm welcome to mr brian ...
dave      this is dave he tells dirty jokes for a living...
fortune      please welcome fortune feimster ♪ im a powe...
gabriel    can you please state your name martin moreno ...
jim       audience cheering applauding thank you thank y...
kathleen    whoo   ♪ kathleen ♪ ♪ madigan ♪ ♪ kathleen ♪...
oswalt      hello denver   oh my god hello thank you tha...
vir       i lost  of my mind its very freeing you should...

In [32]:
# Apply the nouns function to the transcripts to filter only on nouns
data_verb = pd.DataFrame(data_clean.transcript.apply(verbs))
data_verb

                                                 transcript
bill      burr thank thank thank are goin guys standin s...
brian     give mr thank thank is coming appreciate being...
dave      is dave tells is happens signifies fire fear t...
fortune   please im get want get thats want im get want ...
gabriel   please know ive been touring been screaming hu...
jim       cheering applauding thank oh thank coming chee...
kathleen  kathleen shes coming ♪ gon be put think have s...
oswalt    hello thank thank thank oh coming broke thats ...
vir       lost freeing see faces are excited is were gon...

In [33]:
# Create a new document-term matrix using only nouns and adjectives, also remove common words with max_df
cvna = CountVectorizer(stop_words=stop_words, max_df=.5)
data_cvna = cvna.fit_transform(data_verb.transcript)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names_out())
data_dtmna.index = data_verb.index
data_dtmna

,aaah,abducted,abhorring,absorb,absorbs,accept,accepted,accomplished,according,accounted,...,youd,youll,youtube,youyou,zero,zoned,zoom,zoomed,ándale,ñañaras
bill,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
brian,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
dave,1,0,0,0,0,0,0,0,0,0,...,2,1,0,0,0,0,0,0,0,0
fortune,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,1,0,0
gabriel,0,0,0,0,0,1,1,0,1,0,...,0,0,0,0,0,0,1,0,1,1
jim,0,0,0,0,0,0,0,1,0,0,...,0,1,2,0,0,0,0,0,0,0
kathleen,0,1,1,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
oswalt,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
vir,0,1,0,0,1,2,0,2,0,0,...,0,1,0,0,0,0,0,0,0,0

In [34]:
# Create the gensim corpus
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# Create the vocabulary dictionary
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [35]:
ldana2 = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=80,chunksize  = 1000,update_every=50)

In [36]:
# Our final LDA model (for now)

for idx, topic in ldana2.print_topics(-1):
    print("Topic: {} \nWords: {}".format(idx, topic ))
    print("\n")

Topic: 0
Words: 0.014*"fuckin" + 0.007*"fucked" + 0.005*"feeling" + 0.004*"huh" + 0.004*"lie" + 0.003*"answer" + 0.003*"wake" + 0.003*"goin" + 0.003*"write" + 0.003*"laying"


Topic: 1
Words: 0.010*"broke" + 0.010*"dave" + 0.009*"ahah" + 0.008*"suffer" + 0.006*"saves" + 0.006*"fucked" + 0.005*"scared" + 0.005*"rapes" + 0.005*"chappelle" + 0.005*"raped"


Topic: 2
Words: 0.005*"explain" + 0.005*"grab" + 0.005*"reached" + 0.005*"kevin" + 0.005*"grabs" + 0.005*"iced" + 0.004*"apologize" + 0.004*"married" + 0.004*"trickortreating" + 0.003*"open"


Topic: 3
Words: 0.069*"laughs" + 0.015*"applauding" + 0.015*"cheering" + 0.006*"lie" + 0.005*"kathleen" + 0.004*"removed" + 0.004*"treat" + 0.004*"spend" + 0.004*"wearing" + 0.004*"given"

In [37]:
topics = ldana2.show_topics(num_words = 10, formatted = False)
topics

[(0,
  [('fuckin', 0.013616361),
   ('fucked', 0.0074966303),
   ('feeling', 0.0050488915),
   ('huh', 0.0044368277),
   ('lie', 0.0038246536),
   ('answer', 0.003213005),
   ('wake', 0.0032128824),
   ('goin', 0.0032128552),
   ('write', 0.0032127816),
   ('laying', 0.0026009628)]),
 (1,
  [('broke', 0.0095995115),
   ('dave', 0.009599039),
   ('ahah', 0.008815434),
   ('suffer', 0.008032081),
   ('saves', 0.0056810123),
   ('fucked', 0.0056809653),
   ('scared', 0.0048978655),
   ('rapes', 0.004897406),
   ('chappelle', 0.004897406),
   ('raped', 0.004897406)]),
 (2,
  [('explain', 0.005329339),
   ('grab', 0.0046832524),
   ('reached', 0.004683246),
   ('kevin', 0.0046830564),
   ('grabs', 0.004683034),
   ('iced', 0.0046830326),
   ('apologize', 0.0040374002),
   ('married', 0.0040371604),
   ('trickortreating', 0.0040370803),
   ('open', 0.0033914)]),
 (3,
  [('laughs', 0.06926223),
   ('applauding', 0.015443042),
   ('cheering', 0.014831289),
   ('lie', 0.0056572985),
   ('kathleen', 0.005045477),
   ('removed', 0.004434111),
   ('treat', 0.003822585),
   ('spend', 0.0038225632),
   ('wearing', 0.0038224743),
   ('given', 0.0038224738)])]

##### These four topics look pretty decent. Let's settle on these for now.
* Topic 0: Behaivour
* Topic 1: Interactions.
* Topic 2: Adversity.
* Topic 3: Entertainment.

In [38]:
corpus_transformed = ldana2[corpusna]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

[(0, 'bill'),
 (0, 'brian'),
 (1, 'dave'),
 (2, 'fortune'),
 (2, 'gabriel'),
 (3, 'jim'),
 (3, 'kathleen'),
 (1, 'oswalt'),
 (0, 'vir')]

##### These four topics look pretty decent. Let's settle on these for now.
* Topic 0: Behaivour[Brain,Vir]
* Topic 1: Interactions[fortune,Gabriel,Kathleen]
* Topic 2: Adversity.[Dave,Oswalt]
* Topic 3: Entertainment.[Bill,Jim]